MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=3306
MYSQL_VOLUMES=./mysql_data
# 容器自动重启策略: no, always, unless-stopped, on-failure
MYSQL_RESTART=no

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
# 容器自动重启策略: no, always, unless-stopped, on-failure
POSTGRES_RESTART=no
# 在 Windows 中不能使用 ./postgres_data 会出现一些问题
# 在 Linux 中，就需要使用 ./xxx 相对定位的方式，或者明确使用绝对定位的方式 /xxx
POSTGRES_VOLUMES=postgres_data