# 主机代码路径
APP_CODE_PATH_HOST=~/environment/code

# 容器代码路径
APP_CODE_PATH_CONTAINER=/var/www

# 时区
TIMEZONE=Asia/Shanghai

# 在主机上的数据储存位置
DATA_PATH_HOST=~/environment/data

###### NGINX ############
HOST_HTTP_PORT=80
HOST_HTTPS_PORT=443
NGINX_SSL_PATH=./nginx/ssl/
NGINX_SITES_PATH=./nginx/sites/

###### PHP ##############
PHP_VERSION=8.0
PHP_COMPOSER_URL=https://mirrors.aliyun.com/composer/composer.phar
PHP_COMPOSER_REPO=https://mirrors.aliyun.com/composer/

###### MYSQL ############
MYSQL_ROOT_PASSWORD=secret
